.message-context-menu .action-buttons div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    opacity: 0.7;
    color: white;
    font-size: 0; /* 隐藏文本 */
}

.message-context-menu .action-buttons div:hover {
    opacity: 1;
    width: auto; /* 增加宽度以适应文本 */
    padding: 0 10px;
    font-size: 14px; /* 显示文本 */
}

.edit-button {
    background-color: green;
}

.delete-button {
    background-color: red;
}

.edit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-input {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* 灰色边框 */
    border-radius: 4px;
    padding: 5px 10px; /* 增加内边距 */
    font-size: 14px;
}

/* 样式为Save按钮 */
.save-button {
    background-color: #4CAF50; /* 绿色背景颜色 */
    color: white; /* 白色文字颜色 */
    border: none;
    padding: 10px 20px; /* 增加内边距 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px; /* 圆润的边框 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #45a049; /* 悬停时的颜色 */
}

.cancel-button {
    background-color: #f44336; /* 红色背景颜色 */
    color: white; /* 白色文字颜色 */
    border: none;
    padding: 10px 20px; /* 增加内边距 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px; /* 圆润的边框 */
    cursor: pointer;
    margin-right: 10px; /* 调整右侧间距 */
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #d32f2f; /* 悬停时的颜色 */
}